# Server
PORT=3000
NODE_ENV=development

# Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yo
DB_NAME=mathify

# JWT
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d

